# Explicit exclusions
src/main/resources/conf/config.edn
BUILD_NUMBER


# Build and Package Files
build/
target/
velocity.log
*.class
*.jar
*.war
*.ear
.lein-*
.nrepl-port

# IDE Metadata
.svn/
.idea/
*.iml
*.ipr
*.iws
.DS_Store
.classpath
.eclipse/
.project
.revision/
.settings/

# Intermediate files
*.pyc

# Mobile Tools for Java (J2ME)
.mtj
.tmp/

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Emacs backup files
*~

# Security and private
*.md5
*.sha1
*Credentials.properties

# Vagrant
.vagrant
