{:consumer-properties {"zookeeper.connect"  "localhost:2181"
                       "group.id"           "bifrost"
                       "auto.offset.reset"  "smallest" ; we explicitly commit offsets once files have
                                                       ; been uploaded to s3 so no need for auto commit
                       "auto.commit.enable" "false"}
 :topic-blacklist     #{"sometopic"} ; topics from :topic-blacklist will not be backed up
 :topic-whitelist     nil ; if :topic-whitelist is defined, only topics
                          ; from the whitelist will be backed up. The
                          ; value should be a set of strings.
 :rotation-interval   60000 ; milliseconds
 :credentials         {:access-key ""
                       :secret-key ""
                       :endpoint "s3-eu-west-1.amazonaws.com"}
 :uploaders-n         4 ; max-number of concurrent threads uploading to S3
 :bucket              "my-bifrost-bucket"
 :riemann-host        nil ; if :riemann-host is set, metrics will be pushed to that host
 }
